@model IEnumerable<CS4125_Kek_Hotel_Management.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookedCustomer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedRoom.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalSate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChechIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChechOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedRoomId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookedCustomer.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedRoom.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalSate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChechIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChechOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedRoomId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
